body {
    min-width: 320px;
    max-width: 750px;
    /* flexible给我们划分了10等分 */
    width: 10rem;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f2f2;
}
@media screen and (min-width:750px){
    html{
        font-size: 75px !important;
    }
}
* {
    box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.search-conten {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 15rem;
    height: 1.76rem;
    background-color: #ffc001;
  }