body{
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #222222;
}
div{
    box-sizing: border-box;
}
/* 顶部搜索框 */
.search-index{
    display: flex;
    position: fixed;
    max-width: 540px;
    min-width: 320px;
    width: 100%;
    height: 44px;
}
.search{
    position: relative;
    flex: 1;
    height: 26px;
    border: 1px solid #cccccc;
    margin: 7px 10px;
    border-radius: 5px;
    line-height: 24px;
    padding-left: 35px;
    /* 第一个值：水平阴影；第二个值：垂直阴影；第三个值：阴影的面积大小  a代表：阴影的深浅度*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.search::before{
    position: absolute;
    top: 7px;
    left: 10px;
    display: block;
    content: '';
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}
.user{
    width: 44px;
    height: 44px;
    font-size: 12px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    /* 精灵图位置的X Y 都是负值 */
    background: url(../images/sprite.png) no-repeat -59px -194px;
    /* 二倍精灵图，缩放精灵图 */
    background-size: 104px auto;
    margin: 4px auto 0;
}
.foucs{
    padding-top: 44px;
}
.foucs img{
    width:100%;
}
.local-nav{
    height: 64px;
    background-color: #ffff;
    border-radius: 5px;
    display: flex;
    margin: 3px 4px;
}
.local-nav li{
    flex: 1;
}
.local-nav li a{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 5px;
}
.local-nav li [class^="local-nav-icon"]{
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local-nav li .local-nav-icon-icon2{
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3{
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4{
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5{
    background-position: 0 -128px;
}
.nav{
    margin: 0 4px 3px;
    border-radius: 8px;
    overflow: hidden;
}
.nva-common{
    display: flex;
    height: 88px;
}
.nva-common:nth-child(2){
    margin: 3px 0;
}
.nav-items{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.nav-items:nth-child(1){
    background: url(../images/hotel.png)no-repeat center bottom;
    background-size: 121px auto;
}
.nav-items a{
    flex: 1;
    text-align: center;
    line-height: 44px;
    border-bottom: 1px solid #ffff;
}
/* 第一列里面的a */
.nav-items:nth-child(1) a{
    border: 0;
}
.nav-items:nth-child(-n+2){
    border-right: 1px solid #ffff;
}
.nva-common:nth-child(1){
    background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
}
.nva-common:nth-child(2){
    background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nva-common:nth-child(3){
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
.subnav-entry{
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    margin: 0 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}
.subnav-entry li{
    /* 子盒子平均分配是可以写百分比的 */
    flex: 20%;
}
.subnav-entry a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
}
.subnav-entry-icon{
    width: 28px;
    height: 28px;
    background-color: pink;
    background: url(../images/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}
.sales-box{
    border-radius: 1px solid #bbbbbb;
    background-color: #ffff;
    margin: 4px;
}
.sales-hd{
    position: relative;
    height: 44px;
    border-bottom: 1px solid #cccccc;
}
.sales-hd h2{
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after{
    position: absolute;
    top: 8px;
    left: 20px;
    width: 79px;
    height: 15px;
    content: '';
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more{
    position: absolute;
    top: 4px;
    right: 0;
    border-radius: 15px;
    background:-webkit-linear-gradient(left,#ff506c,#ff6bc6);
    padding: 3px 20px 3px 10px;
}
.more::after{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 7px;
    height: 7px;
    content: '';
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
    font-weight: 400;
}
.row{
    display: flex;
}
.row a{
    flex: 1;
}
.row a img{
    width: 100%;
}