// 设置常见屏幕尺寸，设置HTML文字大小
// pc端也可以打开网页，所有限定死字体大小，一定要写在最上面
html{
    font-size: 50px;
}
@num:15;
// 尺寸：320px
@media screen and(min-width:320px){
    html{
        font-size: 320px / @num;
    }
}
// 尺寸：360px
@media screen and(min-width:360px){
    html{
        font-size: 360px / @num;
    }
}
// 尺寸：375px
@media screen and(min-width:375px){
    html{
        font-size: 375px / @num;
    }
}
// 尺寸：384px
@media screen and(min-width:384px){
    html{
        font-size: 384px / @num;
    }
}
// 尺寸：400px
@media screen and(min-width:400px){
    html{
        font-size: 400px / @num;
    }
}
// 尺寸：414px
@media screen and(min-width:414px){
    html{
        font-size: 414px / @num;
    }
}
// 尺寸：424px
@media screen and(min-width:424px){
    html{
        font-size: 424px / @num;
    }
}
// 尺寸：480px
@media screen and(min-width:480px){
    html{
        font-size: 480px / @num;
    }
}
// 尺寸：540px
@media screen and(min-width:540px){
    html{
        font-size: 540px / @num;
    }
}
// 尺寸：720px
@media screen and(min-width:720px){
    html{
        font-size: 720px / @num;
    }
}
// 尺寸：750px
@media screen and(min-width:750px){
    html{
        font-size: 750px / @num;
    }
}